.profile__description {
  margin-top: 16px;
  margin: 16px 0 0;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 450px;
}

@media screen and (max-width: 960px) {
  .profile__description {
    max-width: 250px;
  }
}
