.popup__container_img {
  margin: 0 auto;
  margin-top: 90px;
  background-color: transparent;
  color: white;
  display: flex;
  flex-direction: column;
  max-width: 880px;
}

@media screen and (max-width: 600px) {
  .popup__container {
    max-width: 282px;
  }
}
