.popup__close-icon_img {
  position: relative;
  top: -10px;
  left: 320px;
}

.popup__close-icon_img:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 740px) {
  .popup__close-icon_img {
    width: 40px;
    height: 40px;
    position: relative;
    top: -10px;
    left: 130px;
  }
}
